.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #30757e;
    color: #fff;
  }
  
  .brand {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: none;
    color: rgb(228, 224, 218);
  }


.register-button {
  background-color: #2b445f;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  color: rgb(189, 187, 187);
  background-color: #06203d;
}
  