.hero {
    display: flex;
    justify-content: flex-start;
    padding: 50px 20px;
    background-color: #f4f4f4;
    height: 40vh;
    text-align: left;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #333;
}
